# prevenire commit di file eseguibili senza estensione
*
!*.c
!*.h
!*.md
!.gitignore

# ignorare file di build e output
a.out
*.o
*.exe
*.out
*.class
*.jar
*.pyc

# ignorare file di configurazione dell'IDE
.vscode/
.idea/
*.iml
# ignorare file di log
*.log


