# Ignora tutto
*
# Ma non questi tipi di file
!*.c
!*.h
!*.md
!*.txt
!.gitignore
# Assicura che le directory non vengano ignorate completamente (per permettere la ricerca dei file re-inclusi)
!*/



# ignorare file di configurazione dell'IDE
.vscode/
.idea/
*.iml
# ignorare file di log
*.log


